<table class="table table-bordered">
      <% if @cart.line_items.any? %>
        <legend>Your cart <%= link_to 'Order', new_order_path, remote: true, class: 'btn btn-info right', data: { toggle: 'modal', target: '#order_modal' } %></legend>
          <tbody>
            <tr>
              <th>You have <%= @cart.count_items %><%= " item".pluralize(@cart.count_items) %> in your cart.</th>
            </tr>
      <% else %>
        <legend>Your cart</legend>
          <tbody>
            <tr>
              <th>Cart is empty</th>
            </tr>
      <% end %>
  </tbody>
</table>
  <% if @cart.line_items.any? %> 
      Total price:</br>
      <button class="btn right" data-toggle="modal" href="#cart_modal">Edit cart</button>
      <h3 class="red"><%= @cart.total_price %> $</h3>
  <% end %>