<div class="row">

  <div class="span7">
    <ul class="nav nav-top nav-pills">
      <li></li>
      <li class="active"><%= link_to 'Back to site', root_path %></li>
      <li><%= link_to 'Menage users', users_path %></li>
    </ul>
  </div> 

    <div class="span5 auth-btn">
      <%= link_to 'logout', logout_path, method: :delete, class: "btn btn-inverse right" %>
      <span class="right">You are logged as <%= current_user.username %></span>
    </div>
    
</div>