<div class="row">

  <div class="span7">
    <ul class="nav nav-top nav-pills">
      <li></li>
        <% { 'Back to site' => root_path,
             'Menage users' => users_path, }.each do |name, path| %>
          <% if name == @title %>
            <li class="active"><%= link_to name, path %></li>
          <% else %>
            <li><%= link_to name, path %></li>
          <% end %>
        <% end %>
    </ul>
  </div> 

    <div class="span5 auth-btn">
      <%= link_to 'logout', logout_path, method: :delete, class: "btn btn-inverse right" %>
      <span class="right">You are logged as <%= current_user.username %></span>
    </div>
    
</div>