<div class="row">

  <div class="span7">
    <ul class="nav nav-top nav-pills">
      <li></li>
      <li class="active"><%= link_to 'Back to site', root_path %></li>
      <li><%= link_to 'Menage users', users_path %></li>
    </ul>
  </div> 

    <div class="span5 auth-btn">
        <button class="btn btn-inverse right">Logout</button>
    </div>
    
</div>