<div class="row">

    <div class="span4">
      <h1>Gamershop</h1>
    </div>

    <div class="span8 auth-btn">
        <button class="btn btn-primary right" data-toggle="modal" href="#login_modal">Login</button>
        <span class="right">Or</span>
        <button class="btn btn-info right">Signup</button>
    </div>
    
</div>
  
<div class="row">
  
  <div class="span7">
    <ul class="nav nav-top nav-pills">
      <li></li>
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">How to bye</a></li>
      <li><a href="#">Delivery</a></li>
      <li><a href="#">About as</a></li>
    </ul>
  </div>  

  <div class="span5">
    <form class="form-search">
      <button type="submit" class="btn right">Find!</button>
      <input type="text" class="input-medium search-query right" placeholder="start typing smth..."> 
    </form>
  </div>
  
</div>

<div class="modal" id="login_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Please log in</h3>
  </div>
  <div class="modal-body">
    <%= render 'sessions/login_form' %>
  </div>
</div>